:root{
    --bgColor: rgb(32, 32, 32);
    --fontColor: rgb(216, 216, 216);
}

body{
    background-color: var(--bgColor);
    color: var(--fontColor);

    margin: 0;
    padding: 0;
    width: 100%;
}

.icon.next{
    filter: invert(0.8);
}

/******************************** TOOLTIP *****************************************/
.item{
    position: relative;
}

.tooltip{
    font-size: xx-small;
    max-width: fit-content;
    padding: 5px;
    background-color: inherit;
    border-radius: 5px;
  
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
  
    line-height: normal;
    text-align: center;

    transition: all 0.4s ease;
  }
  
  .shown{
    opacity: 1;
    top: -300%;
    pointer-events: auto;
  }
  
  .hidden{
    opacity: 0;
    top: -250%;
    pointer-events: none;
  }

/******************************************* NAV BAR ********************************************/

.navBar{
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    gap: 20px;
}

.navBar > a{
    text-decoration: none;
    color: inherit;
    
    transition: all 0.4s ease;
}

.navBar > a:hover{
    font-weight: 800;
}


/************************************* HEADER SECTION *******************************************/

.header,
.projects,
.about,
.contact{
    width: 100%;
    height: calc(100vh - 96px);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;

    position: relative;
}

.introDiv{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column nowrap;

    width: 50%;
}

@media only screen and (max-width: 600px) {
    .introDiv {
      width: 90%;
    }
}

.introDiv > h1{
    text-align: left;
}

@keyframes border-radius-anim {
    0%, 100% {
      border-radius: 175px 125px 75px 125px;
    }
  
    25%{
      border-radius: 125px 175px 125px 75px;
    }
  
    50%{
      border-radius: 75px 125px 175px 125px;
    }
  
    75%{
      border-radius: 125px 75px 125px 175px;
    }
} 
  
.headerImage{
    width: 300px;
    height: 320px;

    animation-name: border-radius-anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.headerTitle{
    font-size: 2.5em;
    word-wrap: break-word;
    margin: 0;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

.headerDesc{
    font-size: 1.5em;
    word-wrap: break-word;
    margin: 15px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

@media only screen and (max-width: 680px) {
    .headerTitle {
      font-size: 2.5em;
    }
}

@media only screen and (max-width: 380px) {
    .headerImage {
      width: 240px;
      height: 260px;
      aspect-ratio: 1;
    }
}

/**************************************** PROJECTS ***************************************/
.projects{
    text-align: center;
    flex-flow: column nowrap;
}

@media only screen and (max-width: 680px) {
    .projects {
      padding-top: 150px;
    }
}

.projects > h2{
    margin: 50px 10px;
}

.projectsContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;   
    gap: 20px;
    padding-bottom: 50px;
}

.projectPreview{
    width: 300px;
    height: 235px;

    border-radius: 25px;
    background-color: var(--bgColor);
    border: 2px solid black;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;   

    overflow: hidden;
    position: relative;
}

.projectPreviewProps{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-flow: column nowrap;
    background-color: var(--bgColor);
    color: var(--fontColor);

    top: 70%;

    transition: all 0.3s ease;
    pointer-events: none;
    
}

.projectPreview:hover > .projectPreviewProps{
    top: 0%;
    pointer-events: auto;
}

.projectPreviewProps > h3{
    width: 50%;
    text-align: center;
}

.projectPreviewTags{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;   
    gap: 5px;
}

.flexRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;   
}

.projectDesc{
    height: 80%;
    width: 90%;
    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;   
}

.btnLink{
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.8em;

    background-color: inherit;
    color: var(--fontColor);
    border: 2px solid black;
    font-weight: 500;

    transition: all 0.4s ease-in-out;
}

.btnLink:hover{
    font-size: 0.9em;
    padding: 7px;
    text-decoration: underline;
    cursor: pointer;
    color: var(--fontColor);
}

/************************************** TAGS ************************************/
.tag{
    width: fit-content;
    height: fit-content;
    padding-inline: 4px;
    border-radius: 5px;
    font-weight: 500;
}

.js{
    background-color: rgb(192, 192, 61);
    color: black;
}

.ts{
    background-color: rgb(53, 86, 192);
    color: white;
}

.react{
    background-color: darkcyan;
    color: black;
}

.svelte,
.sveltekit{
    background-color: rgb(199, 80, 44);
    color: white;
}

.nextjs{
    background-color: black;
    color: white;
}

/****************************************** ABOUT ********************************************/
.about{
    padding-top: 40px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 20px;
}

.descParr{
    width: min(90%, 70ch);
}

.skillsList{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: min(90%, 360px);
}

/****************************************** CONTACT ********************************************/
.contact{
    justify-content: center;
    flex-flow: column nowrap;
}

.flex-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 20px;
}

.linkDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 20px;

    width: min(90%, 310px);

    padding-inline: 20px;

    border: 1px solid var(--fontColor);
    border-radius: 20px;
}

.linkProps{
    width: 80%;
}

.socialIcon{
    width: fit-content;
}

.link{
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}
